<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="row">
        <div class="col-md-2">
        <div class="box">
            <div class="prof"></div>
            <h1 class="Username">Ali_Z</h1>
            <div onclick="like()" class="like"><i class="fa fa-heart"></i></div>
            <div class="bookmark"><i class="fa fa-bookmark"></i></div>
            <div class="img"></div>
            <div class="name">Post</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi </p>
        </div>
        <div class="col-md-5">
            <app-connectfarmer></app-connectfarmer>
        </div>
    </div>
    </div>

