<app-header></app-header>

<app-hero></app-hero>
<br><br>
<app-feature></app-feature>






<div class="container-fluid py-5 p-0 mb-5 wow fadeIn hhr" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn; position:relative;">
      <div id="header-carousel" class="carousel slide" data-bs-ride="carousel" >
          <div class="carousel-inner">
              <div class="carousel-item hhr">
                  <!-- <img class="w-100 " src="./gardening-composition-with-sunflowers-space-top.jpg" alt="Image"> -->
                  <img class="img1 " style="position: relative;" src="https://img.freepik.com/free-photo/community-people-working-together-agriculture-grow-food_23-2151205705.jpg?t=st=1713418378~exp=1713421978~hmac=6d67240e78bb0cd2dcfdd9fde2fff5b0d3a4ae61efac2af836c2219ad9824c8e&w=740">
                  <div class="carousel-caption">
                      <div class="container">
                          <div class="row justify-content-start">
                              <div class="col-lg-7">
                                  <h1 class="display-2 mb-5  slideInDown">Harvest Bridge: <h2>One Stop Platform for Farmers</h2></h1>
                                  <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Products</a>
                                  <a href="" class="btn btn-secondary rounded-pill py-sm-3 px-sm-5 ms-3">Services</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item active ">
                  <!-- <img class="w-100 img2" src="./growing-organic-ecological-plants-fields-background.jpg" alt="Image"> -->
                  <img class="img2" src="https://img.freepik.com/free-photo/portrait-young-people-community-market_23-2151205750.jpg?t=st=1713418229~exp=1713421829~hmac=910d2e8f1b72f62f66f2b24d60f18070093c8c22e77da978309d1ce20425642f&w=1380">
                  <div class="carousel-caption">
                      <div class="container">
                          <div class="row justify-content-start">
                              <div class="col-lg-7">
                                  <h1 class="display-2 mb-5  slideInDown">Farmers Market: <h2>For Customers</h2></h1>
                                  <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5" routerLink="/product">Products</a>
                                  <a href="" class="btn btn-secondary rounded-pill py-sm-3 px-sm-5 ms-3">Services</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>

  <app-footer></app-footer>
