<app-header></app-header>


<div class="container px-4 py-4 backgrd" id="custom-cards">
    <h2 class="pb-2 border-bottom">Our Features</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 ">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4  imgrecom hvr" style="background-image: url('https://img.freepik.com/free-photo/hydroponics-system-planting-vegetables-herbs-without-using-soil-health_1150-8159.jpg?t=st=1713343429~exp=1713347029~hmac=710649ff5533cf5b22a414f6fc52e7a87a623e0ab0a608dd917553dcb3c3d165&w=996');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Crop Recommendation</h3>
            <!-- <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Earth</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>3d</small>
              </li>
            </ul> -->
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4  imgrecom hvr" style="background-image: url('https://img.freepik.com/free-photo/growth-young-melon-glasshouse_1150-10613.jpg?t=st=1713343654~exp=1713347254~hmac=5c9f42215dc7f9c869c5d5a4da7748794b1a324e42c5afb675cd9652485b03c4&w=996');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-5 display-6 lh-1 fw-bold">Fertilizer Recommendation</h3>
            <!-- <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Pakistan</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>4d</small>
              </li>
            </ul> -->
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4  imgrecom hvr" style="background-image: url('https://img.freepik.com/free-photo/man-takes-probe-greenery-erlenmeyer-flask-standing-greenhouse_8353-7173.jpg?t=st=1713344326~exp=1713347926~hmac=83865d1f1c4d7158df730fee38128896e4133ea765e198b1b08c603c389f7c25&w=996');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Pesticide Recommendation</h3>
            <!-- <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>5d</small>
              </li>
            </ul> -->
          </div>
        </div>
      </div>


      
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4  imgrecom hvr" style="background-image: url('https://img.freepik.com/free-photo/side-view-woman-girl-spending-time-outdoors_23-2150903277.jpg?t=st=1713347826~exp=1713351426~hmac=c27dd6eebe46084bc968cdc710a41fb23a71272a52a383fa8a2ff91b17154491&w=1380');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-5 display-6 lh-1 fw-bold">Manage Friendship between Farmers</h3>
            <!-- <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Pakistan</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>4d</small>
              </li>
            </ul> -->
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4  imgrecom hvr" style="background-image: url('https://img.freepik.com/free-photo/cute-lady-holding-thumb-up-sign-green-house_144627-77970.jpg?t=st=1713348160~exp=1713351760~hmac=6de69249a1feca975bef36af72dfc9c6de8fac717845feb8ff5867020f35d2bf&w=996');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-5 display-6 lh-1 fw-bold">Farmers can make post</h3>
            <!-- <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Pakistan</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>4d</small>
              </li>
            </ul> -->
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4  imgrecom hvr" style="background-image: url('https://img.freepik.com/free-photo/close-up-male-hand-holding-dill-brassica-romanesco-vegetable_23-2148209676.jpg?t=st=1713347186~exp=1713350786~hmac=9c3e117fe1988bf649cba2352df01185c2fcb2ddc6101a7a6a7d74ac5dc3c1a3&w=996');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-5 display-6 lh-1 fw-bold">E-Market for Farmers</h3>
            <!-- <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Pakistan</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>4d</small>
              </li>
            </ul> -->
          </div>
        </div>
      </div>

      
    </div>
  </div>
