<app-header></app-header>
<body>
    
        
<div class="text-center ">
    <br> <br> <br> <br><br> <br>
    <img class="d-block mx-auto mb-4 " src="https://mkisan.gov.in/Content/assets/img/about-img.png" alt="" width="92" height="87">
    <h1 class="display-5 fw-bold text-body-emphasis">Harvest Bridge</h1>
    <h3>One-stop Platform for Farmers</h3>
    <br>
    <div class="col-lg-6 mx-auto">
      <h2 class="lead mb-4"><strong>Farm = AI + Crop + Fertilizer + Pesticide.</strong> We take care of your Soil's health. We at crop care, honor the Indian Farmer's love, hard work, and character. They help to feed  a nation. However their productivity is threatened by some natural factors that can ruin their crops and their livelihoods. Harvest Bridge is a small initiative enhancing agriculture, make smart decisions to consider the demographics of your feild, the factors affecting your crop, as well as how to keep them healthy for a super awesome yield. And Harvest Bridge provides E-Market for farmers to sell their farm products directly to the custumers. </h2>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>
 <br> <br> <br>

</body>