<app-header></app-header>

<body>
 
   <br>
<div class="overlay">
    <!-- LOGN IN FORM by Omar Dsoky -->
    <form class="bg-img" >
       <!--   con = Container  for items in the form-->
       <div class="con">
       <!--     Start  header Content  -->
       <div class="col-sm-12">
       <header class="head-form">
          <h2>Log In</h2>
          <br>
          <!--     A welcome message or an explanation of the login form -->
          <h6>!! Welcome Back !!</h6>

       </header>
      </div>
       <!--     End  header Content  -->
      
       
       <div class="field-set">
         
          <!--   user name -->
          <div class="col-sm-1 ">
             <!--<span class="input-item">
               <i class="fa fa-user-circle"></i>
             </span>-->

             
            <!--   user name Input-->
            
             <input class="form-input" id="txt-input" type="text" placeholder="Username"  required  >
            </div>
          
         
               <!--   Password -->
               <div class="col-sm-12">

         <!-- <span class="input-item">
            <i class="fa fa-key"></i>
           </span>-->

          <!--   Password Input-->
          <input class="form-input" type="password" placeholder="Password" id="pwd"   required >
         
    <!--      Show/hide password  -->
          <!--<span>
            <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i>
         </span>-->
      </div>
         
          
    <!--        buttons -->
    <!--      button LogIn -->
    <div class="col-sm-12">
          <button class="log-in btn btn-success" type="submit" (click)="login(username, password)" align="left"> Login </button>
         </div>
         <br>
       </div>
      
    <!--   other buttons -->
    <div class="col-sm-12 " >
       <div class="other">
    <!--      Forgot Password button-->
          <button class="btn submits frgt-pass ">Forgot Password</button>
    <!--     Sign Up button -->
          <button class="btn submits sign-up" routerLink="registration">Sign Up 
    <!--         Sign Up font icon -->
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          </button>
    <!--      End Other the Division -->
       </div>
    </div>
    <!--   End Conrainer  -->
      </div>
      
      <!-- End Form -->
    </form>
    </div>
    <br>

   </body>